* {
  margin: 0 auto;
}

html, body {
  height: 100%;
}


.App {
  text-align: center;
  background-color:#EDE5D4;
  height: 100%;
}

a {
  text-decoration: none;
}

.header {
  background-color: #F3EEE2;
  border-bottom: 1px solid #462255;
  box-shadow: -2px 6px 37px -5px rgba(92,78,78,0.25);
  -webkit-box-shadow: -2px 6px 37px -5px rgba(92,78,78,0.25);
  -moz-box-shadow: -2px 6px 37px -5px rgba(92,78,78,0.25);
}

.site_title {
  font-family: 'Elsie', cursive;
  font-size: 36px;
  color: #462255;
  padding-bottom: 5px;
}

.site_subtitle {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #AA4465;
  margin: 5px;
  padding-bottom: 10px;
}

.headshot {
  width: 65%;
  border-radius: 100%;
  border-bottom: 2px solid #AA4465 ;
  border-left: 1px solid #AA4465 ;
  background-color:#EDE5D4;
  margin: 10px 0px 10px 0px;
  box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_title {
  font-family: 'Elsie', cursive;
  font-size: 28px;
  color: #462255;
  margin: 10px 0 0 0;
  padding-top: 25px;
}

.page_content {
  background-color: #F3EEE2;
  width: 75%;
  border: 2px solid #462255;
  border-radius: 12px;
  padding: 5px;
  margin: 25px 0 0 0;
  box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
}

.welcome_content {
  background-color: #F3EEE2;
  width: 75%;
  border: 2px solid #462255;
  border-radius: 12px;
  padding: 5px;
  margin: 25px 0 0 0;
  box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
}

.welcome_content p {
  text-align: left;
  }

.welcome_content h2 {
  text-align: left;
  font-family: 'Elsie', cursive;
  font-size: 24px;
  color: #AA4465;
  padding-top: 15px;
  padding-left: 10px;
  text-transform: uppercase;
  }

.welcome_content h3 {
  text-align: right;
  font-family: 'Elsie', cursive;
  font-size: 24px;
  color: #AA4465;
  padding-top: 25px;
  padding-right: 10px;
  text-transform: uppercase;
  line-height: 110%;
  }

.welcome_content_text {
  margin: 15px 5px 0px 25px;
  color: #462255;
}

.page_subtitle {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #AA4465;
  margin: 5px;
}

.page_content p {
text-align: left;
}

.page_content_text {
  margin: 5px;
  color: #462255;
}

.project_preview {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #F3EEE2;
  width: 85%;
  border: 1px solid #462255;
  border-radius: 12px;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
}

.project_title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #462255;
  margin: 5px;
  padding: 5px;
  font-size: 26px;
}

.project_detail {
  font-family: 'Josefin Sans', sans-serif;
  color: #462255;
  padding-top: 10px;
  font-size: 18px;
}

.project_thumbnail {
  width: 60%;
  border-radius: 12px;
}

.project_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #F3EEE2;
  width: 85%;
  border: 1px solid #462255;
  border-radius: 12px;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -webkit-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 6px 7px 12px -3px rgba(0,0,0,0.26);
}